<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bem-vindos ao Projeto Robô</title>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-vvJcWpKoLvtrdpR+bmkdZG1YHh65/F8xJtNq3t+e0cJ/5yoovRHeMf+0NucJyx2YDj8N1+2QGZ9bxB5r5Dh8ew==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
  <div class="container py-5">
    <h1 class="text-center mb-4">Bem-vindos ao Projeto Robô</h1>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <p>Este é um projeto de robótica que tem como objetivo criar um robô capaz de realizar tarefas específicas, utilizando Bibliotecas Panda, Selenium e flask.</p>
        <p><a href="/execute">link para executar automação</a></p>
      
      </div>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-FlsTcTmmT34n0Y1a8vexVm07NcAOLXJZg6N8o6HnG6azqdU4P4o6Q/UP6/4sdMxQe87E3q8sLSWbwBvKkRJc0w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
